:root {
  --primary-color: #800080;
  --secondary-color: #0000FF;
  --padding-standard: 0.8rem;
  --border-radius-standard: 10px;
  --button-padding: 10px 20px;
  --primary-color-dark: #300030;
  --secondary-color-dark: #000033;
  --background-color-dark: #000000;
  --text-color-dark: #ffffff;
}